@import com.makskostyshen.web.dto.CaseListingResponseDto;
@import java.util.List;

@args(List<CaseListingResponseDto> casesDto)

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Справи</title>
    <meta name="robots" content="noindex, nofollow">
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon">
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: NiceAdmin
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>
<body>

<main>
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-2 mt-2 px-1">
            <h5 class="card-title">Справи</h5>
            <button type="button" class="btn btn-primary" onclick="window.location.href='/cases/new'">Нова справа</button>
        </div>

        <!-- Bordered Table -->
        <table class="table table-bordered mt-0 mb-0">
            <!-- Заголовок таблиці і т.д. ... -->
        </table>


        <!-- Bordered Table -->
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Клієнт</th>
                <th scope="col">Опонент</th>
                <th scope="col">Предмет спору</th>
                <th scope="col">Номер Справи</th>
                <th scope="col">Суд / суддя</th>
                <th scope="col">Проведена робота</th>
                <th scope="col">Стадія розгляду</th>
                <th scope="col">Дата і час</th>
                <th scope="col">Примітка</th>
                <th scope="col"> </th>
            </tr>
            </thead>
            <tbody>
            @for (int i = 0; i < casesDto.size(); i++) {
                @views.caseRow.template(i+1, casesDto.get(i))
            }
            </tbody>
        </table>
    </div>

</main>

</body>
</html>